<!-- templates/index.html -->

{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <form action="/contacts" method="get" class="tool-bar">
        <label for="search">Search Term</label>
        <input id="search" type="search" name="q" value="{{ request.GET.q|default:'' }}"
               hx-get="/contacts"
               hx-trigger="search, keyup delay:200ms changed"
               hx-target="tbody"
               hx-push-url="true"
               hx-indicator="#spinner"
        />
        <img id="spinner" class="htmx-indicator" src="{% static 'images/12-dots-scale-rotate.svg' %}" alt="Request in the flight...">
        <input type="submit" value="Search"/>
    </form>

    <table>
        <thead>
        <tr>
            <th>Username</th> <th>First</th> <th>Last</th> <th>Email</th> <th></th>
        </tr>
        </thead>
        <tbody id="user-table-body">

        {% include 'rows.html' %}

        </tbody>
    </table>

    <div>
        <span style="float: right">
            {% if users.has_previous %}
                <a href="?page={{ users.previous_page_number }}">Previous</a>
            {% endif %}
            {% if users.has_next %}
                <a href="?page={{ users.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>

   <p>
       <a href="{% url 'contacts_new' %}">Add Contact</a> <span hx-get="{% url 'contacts-count' %}" hx-trigger="load"></span>
   </p>

{% endblock %}
