<!-- templates/index.html -->

{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <form action="/contacts" method="get" class="tool-bar">
        <label for="search">Search Term</label>
        <input id="search" type="search" name="q" value="{{ request.GET.q|default:'' }}"
               hx-get="/contacts"
               hx-trigger="search, keyup delay:200ms changed"
               hx-target="tbody"
               hx-push-url="true"
               hx-indicator="#spinner"
        />
        <img id="spinner" class="htmx-indicator" src="{% static 'images/12-dots-scale-rotate.svg' %}" alt="Request in the flight...">
        <input type="submit" value="Search"/>
    </form>



<div class="table-header">
    <div class="table-header-cell"></div>
    <div class="table-header-cell">Username</div>
    <div class="table-header-cell">First</div>
    <div class="table-header-cell">Last</div>
    <div class="table-header-cell">Email</div>
    <div class="table-header-cell"></div>
</div>
<form class="sortable" hx-trigger="end" hx-post="/sort"> {% csrf_token %}
    <table>
        <tbody id="user-table-body">

            {% include 'rows.html' %}

        </tbody>
    </table>

    <button hx-delete="{% url 'contacts_bulk_delete' %}"
            hx-confirm="Are you sure you want to delete these contacts?"
            hx-target="body">
        Delete Selected Contacts
    </button>
</form>

<div class="htmx-indicator">Updating...</div>

    <div>
        <span style="float: right">
            {% if users.has_previous %}
                <a href="?page={{ users.previous_page_number }}">Previous</a>
            {% endif %}
            {% if users.has_next %}
                <a href="?page={{ users.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>

   <p>
       <a href="{% url 'contacts_new' %}">Add Contact</a>
       <span hx-get="{% url 'contacts-count' %}" hx-trigger="revealed">
           <img id="contacts-count-spinner" class="htmx-indicator" src="{% static 'images/12-dots-scale-rotate.svg' %}"/>
       </span>
   </p>

{% endblock %}
