<!-- templates/index.html -->

{% extends 'layout.html' %}

{% block content %}
    <form action="/contacts" method="get" class="tool-bar">
        <label for="search">Search Term</label>
        <input id="search" type="search" name="q" value="{{ request.GET.q|default:'' }}"/>
        <input type="submit" value="Search"/>
    </form>

    <table>
        <thead>
        <tr>
            <th>Username</th> <th>First</th> <th>Last</th> <th>Email</th> <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td><a href="/contacts/{{ contact.id }}/edit">Edit</a>
                    <a href="/contacts/{{ contact.id }}">View</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   <p>
       <a href="/contacts/new">Add Contact</a>
   </p>

{% endblock %}
