<!-- templates/layout.html -->

{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contact App</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <script src="{% static 'js/htmx.min.js' %}"></script>
</head>
<body hx-boost="true" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <main>
        <header>
            <h1>A Demo Contacts Application</h1>
        </header>
        {% block content %}{% endblock %}
    </main>

    <script src="{% static 'js/Sortable.min.js' %}"></script>
    <script src="{% static 'js/htmx-sortable.js' %}"></script>
</body>
</html>
