<!-- templates/new.html -->

{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block content %}
    <form action="/contacts/new/" method="POST" autocomplete="off">
    {% csrf_token %}
    <fieldset>
        <legend>Contact Values</legend>
        <div>
            <label>{{ form.username.label_tag }}</label>
            {{ form.username.errors }}
            <input name="{{ form.username.name }}"
                   id="{{ form.username.id_for_label }}"
                   type="text"
                   hx-post="{% url 'check-username' %}"
                   hx-trigger="keyup delay:200ms changed"
                   hx-target="#username-error"
                   hx-swap="innerHTML"
                   class="form-control"
                   placeholder="Username"
            >
            <div id="username-error"></div>
        </div>
        <p>
            <label>{{ form.first_name.label_tag }}</label>
            {{ form.first_name.errors }}
            <input name="{{ form.first_name.name }}" id="{{ form.first_name.id_for_label }}" type="text" class="form-control" placeholder="First Name">
        </p>
        <p>
            <label>{{ form.last_name.label_tag }}</label>
            {{ form.last_name.errors }}
            <input name="{{ form.last_name.name }}" id="{{ form.last_name.id_for_label }}" type="text" class="form-control" placeholder="Last Name">
        </p>
        <div>
            <label>"{{ form.email.label_tag }}"</label>
            {{ form.email.errors }}
            <input name="{{ form.email.name }}"
                   id="{{ form.email.id_for_label }}"
                   type="email"
                   hx-post="{% url 'check-email' %}"
                   hx-trigger="keyup delay:200ms changed"
                   hx-target="#email-error"
                   hx-swap="innerHTML"
                   class="form-control"
                   placeholder="Email"
            >
            <div id="email-error"></div>
        </div>
        <button>Save</button>
    </fieldset>
</form>

<p>
    <a href="{% url 'contacts' %}">Back</a>
</p>

{% endblock %}
